*{
margin: 0;
padding: 0;
}

body {
    background-color: #1FB66C;
    font-family: sans-serif;
}

img {
    border-radius: 20px;
    width: 320px;
    height: 320px;
}

h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
}

p {
    color: white;
}

ul {
    margin-top: 35px;
}

li {
    margin-top: 18px;
    list-style: none;
}

a1 {
    background-color: black;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

a2 {
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

footer {
    color: white;
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}