*{
margin: 0;
padding: 0;
}

body {
    background-color: #1FB66C;
    font-family: sans-serif;
}

img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    border: 5px solid white
}

h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
}

p {
    color: white;
}

ul {
    margin-top: 35px;
}

li {
    margin-top: 18px;
    list-style: none;
}

a {
    background-color: #2F4538;
    color: #D9D9D5;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

a:hover {
    background-color: white;
    color: black;
    transition: .3s;
}

footer {
    color: white;
    margin-top: 35px;
    margin-bottom: 30px;
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}
